/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #cccccc;
}

section {
	margin-top: 40px;
	margin-bottom: 40px;
}

.menu-slider {
	width: 100%;
	height: 637px;
	margin-top: 0;
}

.holliday_container {
	color: #fff;
	width: 100%;
	height: 430px;


	text-align: center;

	background-image: url("../img/фон.jpg");
	background-position: center;
}

.holliday_heading {
	line-height: 215px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
}


/* НАЧАЛО СЛАЙДЕРА */

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 85%;

	margin: 0 auto;

	/* Добавить градиет бордеру */
	border: 7px solid #BBCB4F;

	text-align: center;

	filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.1));

	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 63.99%),
		linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 6.99%);

	backdrop-filter: blur(25px);

	border-radius: 30px;
}


/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Конкретный слайдер */
.slider {
	padding: 0px 0px;
	margin: 0 100px;
	overflow: hidden;
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}


@media (max-width:1800px) {
	.slider__item img {
		flex: 0 1 20%;
		height: 238px;
		border-radius: 15px;
	}
}

.slider__item {
	margin: 40px 0px;
	text-align: center;
}

@media (max-width:1800px) {
	.slider__item {
		flex: 0 1 20%;
	}
}

.slaider_img {
	width: 240px;
	height: 238px;
	border-radius: 15px;
}



.recipes_name {
	width: 90%;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #333333;
	background-image: none !important;
	text-decoration: none;
}

/* КОНЕЦ СЛАЙДЕРА */

/* ИНФОРМАЦИЯ О КЕТО */

.card {
	background: #FFFFFF;

	width: 527px;
	height: 365px;

	padding: 10px 10px 10px 10px;
	margin: 0px 10px 0px 10px;

	border: 1px solid rgb(0, 0, 0);
	border-radius: 15px;
}

@media (max-width:1800px) {
	.information {
		padding: 15px auto;
	}

	.card {
		background: #FFFFFF;
		height: 325px;

		padding: 10px 10px 10px 10px;
		margin: 0px 0px 0px 10px;

		border: 1px solid rgb(0, 0, 0);
		border-radius: 15px;

		flex: 0 1 30%;
	}
}

.card_left {
	margin-left: 0;
}



.card_top {
	margin-bottom: 10px;
	background: white;
}

.card_bottom {
	margin-top: 10px;
	margin-bottom: 20px;
}


.title_card {
	background: #FFFFFF;
	text-align: center;

	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 20px;
	height: 76px;
	padding: 20px 20px 20px 20px;
	color: #333333;
}

.colortext {
	color: #5D8403;
	background: #FFFFFF;
}

.card_text {
	background: #FFFFFF;
	color: #333333;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	text-align: justify;
}

.recipes_heading,
.information_keto_heading {
	color: #333333;
	padding: 40px 0px 40px 0px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;

	font-family: 'Montserrat', sans-serif;
}

.information {
	background: #E8E8E8;

	text-align: center;

	margin-left: auto;
	margin-right: auto
}

.recipes_heading {
	background: #FFFFFF;
}

.information_keto {
	background: #E8E8E8;
	width: 1500px;

	display: flex;
	justify-content: center;

	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;

	border-radius: 15px;
}

.information {
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	margin: 0px 15px;
}

/* ИНФОРМАЦИЯ О КЕТО */

/* РЕЦЕПТЫ */

.recipes {


	text-align: center;

	background: #FFFFFF;

	margin-left: auto;
	margin-right: auto;

	border-width: 16px 0px;
	border-style: solid;
	border-color: #817F79;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.recipes_conteiner {
	background: #FFFFFF;

	display: flex;
	justify-content: center;

	flex-wrap: wrap;

	margin-left: auto;
	margin-right: auto;

	border-radius: 15px;
}

.card_recipes {
	background: #FFFFFF;
	width: 440px;
	height: 400px;
	padding-bottom: 30px;
	padding-right: 10px;
}

.img_recipes {
	width: 240px;
	height: 240px;
}

.recipes_name_card {
	width: 90%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-weight: 500;
	margin: 0px auto;
	margin-top: 15px;
	font-size: 20px;
	background-color: #FFFFFF;
	color: #333333;
	text-decoration: none;
}

/* РЕЦЕПТЫ */

/* ВТОРОЙ СЛАЙДЕР */

.second_slider{
	width: 2500px;
	height: 500px;
	padding-left: 10px;
	padding-right: 10px;
}
.videos{
	width: 700px;
	height: 500px;
}

.main {
	max-width: 1920px;
	margin: 0 auto;
}
.maim_help,
.wrap {
  max-width: 1920px;
  margin: 0 auto;
}

.card {
  max-width: 390px;
  height: 387px;
  box-shadow: 4px 4px 25px rgb(180, 174, 174);
  border-radius: 15px;
  margin-right: 20px;
  background-color: white;
}

li {
  list-style-type: none;
}

.card_text {
  max-width: 338px;
  line-height: 21px;
  margin-top: 14px;
  margin-left: 26px;
  margin-right: 26px;
}

.card_surname {
  margin-top: 20px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1B2F05;
}
.card_surname {
  font-size: 14px;
  text-align: center;
}
.card_text {
  font-size: 14px;
}

.comments_title {
  padding-bottom: 40px;
    padding-top: 80px;
  font-size: 48px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.comment_item {
  display: flex;
  justify-content: space-between;
}
.comments {
  max-width: 1620px;
  margin-left: 150px;
  padding-bottom: 80px;
  
}

.maim {
  background-color: #E7E6E7;
 } 

/* Footer */
.footer {
  background: #bbcb4f;
  width: 100%;
}

.footer_list {
  display: flex;
  justify-content: space-between;
  width: 112px;
  margin-left: 175px;
  margin-top: 23px;
  margin-bottom: 20px;
}
.footer_title {
  margin-top: 23px;
  margin-left: 150px;
  width: 170px;
height: 49px;
}
.Communicate {
  margin-left: 150px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;

}
.footer_wraper {
  display: flex;
  justify-content: space-between;
}

.footer_link {
  color: black;
  text-decoration: none;
  line-height: 40px;
}
.link_marg {
  margin-right: 150px;
}
.link_margin {
  margin-right: 83px;
}
.footer_wrap_item {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  line-height: 21px;
  width: 620px;
}

.footer_text {
  font-size: 12px;
  margin-top: 28px;
  padding-bottom: 19px;
  width: 720px;
  margin-left: 150px;
  line-height: 15px;
  color: #333333;
}

.footer_img {
  margin-right: 11px;
}
.footer_link{
    color: #333333;
}


/* 
.intro {
	width: 100%;
	height: 130px;

	background: #BBCB4F;
	border-bottom: 4px solid #FFFFFF;
} */

/*Header*/
.header {
	background-color:#BBCB4F;
	padding-bottom: 10px;
	border-bottom: 3px solid white;
  }
  .container {
	max-width: 1900px;
	padding-top: 30px;
	margin-left: 150px;
	padding-bottom: 30px;
	margin: 0 auto;
  }
  .header__inner {
	display: flex;
	justify-content: space-between;
  }
  .nav_list {
	display: flex;
	justify-content: space-between;
  }
  .nav_link {
	margin-right: 20px;
	font-size: 20px;
  }

#search {
	border: solid 1px #eaf9c8;
	;
	border-radius: 20px;
	background-color: #eaf9c8;
	padding-right: 60px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#btn {
	border: solid 1px #eaf9c8;
	;
	border-radius: 20px;
	background-color: #eaf9c8;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgb(74, 74, 74);
}

#btn2 {
	border: solid 1px #506d0e;
	border-radius: 20px;
	background-color: #506d0e;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgb(255, 255, 255);
}

#btn3 {
	border: solid 1px #d1ec93;
	border-radius: 20px;
	background-color: #d1ec93;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: rgb(0, 0, 0);
}

/*Nav*/
.nav li {
	display: inline-block;
}

.nav {
	vertical-align: top;
	text-align: right;

}


.nav_link {

	text-decoration: none;
	margin: 0 5px;
	font-size: 17px;



}

#navl {
	text-transform: uppercase;
}

/* .heder_general{
	min-height: 800px;
	background-color: #5D8403;
} */